# Numbers

In [2]:
my_number = 12345

In [4]:
15+5

20

In [5]:
15 + 3.3

18.3

In [6]:
15.0 + 2

17.0

In [7]:
6 * 3.0

18.0

In [8]:
6 / 5

1.2

In [10]:
6 // 5

1

In [12]:
8 % 2

0

In [13]:
5 % 3

2

In [26]:
# % operatörü kullanmadan kalanı bulma kodu:
whole_part = int(5/3)
decimal_part = 5 / 3 - whole_part
print(decimal_part)

0.6666666666666667

In [27]:
whole_remainder = decimal_part * 3
print(whole_remainder)

2.0

In [29]:
int(3.45)

3

In [30]:
int(3.9)

3

In [31]:
float(2)

2.0

In [32]:
round(3.1415,2)

3.14

In [34]:
round(3.99999, 2)

4.0

In [33]:
print(type(round(3.1415)))

<class 'int'>

In [37]:
import math

In [38]:
print(math.floor(3.9999))

3

In [36]:
(2 + 3) *4
#aritmetik işlemlerde öncelik sırası

20

In [39]:
0.1 * 3 #yanlış sonuç

0.30000000000000004

In [40]:
from decimal import Decimal

In [41]:
Decimal('0.1') * 3

Decimal('0.3')

In [43]:
import random   #random sayı oluşturmak için
random.randint(0,99)

36

## Strings

In [46]:
my_string= 'my text is "important"' #stringde tek tırnak varsa içinde çift tırnak kullanılabilir.
print(my_string)

my text is "important"

In [47]:
long_string = ''' 
###
text
    example
'''
print(long_string)

###
text
    example

In [49]:
my_number = 42
my_number = str(my_number)
print(type(my_number))

<class 'str'>

In [50]:
my_string[0]

'm'

In [56]:
print(my_string)
print(my_string[-1])
print(my_string[-2])
print(len(my_string[2]))
print(len(my_string[11]))

my text is "important"
"
t
1
1

### Slice

In [57]:
my_string[1:4]

'y t'

In [58]:
my_string[:4]

'my t'

In [59]:
my_string[1:]

'y text is "important"'

In [60]:
my_string[::2]

'm eti iprat'

In [62]:
my_string[::-1] #tersine çevirme

'"tnatropmi" si txet ym'

In [63]:
my_string.split() #boşluğa göre ayırıyor.Parantez içine ne yazarsan ona göre ayırır.

['my', 'text', 'is', '"important"']

In [64]:
my_string.split('"')

['my text is ', 'important', '']

## Listeler

In [65]:
animals= ["cat", "dog", "horse"]

In [66]:
" ".join(animals)

'cat dog horse'

In [70]:
"".join(animals)

'catdoghorse'

In [71]:
for item in my_string:
    print(item)

m
y

t
e
x
t

i
s

"
i
m
p
o
r
t
a
n
t
"

### fstrings

In [73]:
name = "Zekiye"
age= 24
print(f"My name is {name} and my age is {age}")

My name is Zekiye and my age is 24

In [74]:
import datetime

In [76]:
today = datetime.datetime.today()
print(today)

2023-11-26 13:45:13.834745

In [78]:
print(f"{today: %d %m %Y}")
print(f"{today: %d %B %Y}")

 26 11 2023
 26 November 2023

## Boolean

In [80]:
bool(1)

True

In [81]:
bool(0)

False

In [85]:
my_variable = 0
if my_variable:
    print("yes it is true")
else:
    print("no it is false")

no it is false

In [86]:
my_variable is True

False